:root {
  /* COLORS */

  /* primary */
  --lime-green: #1db489;
  --bright-red: #dc414c;

  /* Colors Themes */
  --toggle: var(--light, #a4accc)
    var(--dark, linear-gradient(270deg, #1db489 0%, #3699da 100%));
  --togle-hover: linear-gradient(270deg, #1db489 0%, #3699da 100%);
  --text-togle: #a4accc;
  --bg-up: var(--light, #e6e8f5) var(--dark, #222635);
  --bg-down: var(--light, #ffffff) var(--dark, #1d2029);
  --text-primary: var(--light, #1b1e27) var(--dark, #ffffff);
  --text-secundary: var(--light, #606271) var(--dark, #a4accc);
  /*   --card: var(--light, #f0f3fa) var(--dark, #252b43);
  --card-hover: var(--light, #e1e3f0) var(--dark, #333a56); */
  --card-shadow: var(--light, -5px 5px 10px #c8cad5, 5px -5px 10px #ffffff)
    var(--dark, -5px 5px 10px #0f111b, 5px -5px 10px #3b456b);
  --card-bg: var(--light, linear-gradient(225deg, #cfd1dd, #f6f8ff))
    var(--dark, linear-gradient(225deg, #21273c, #282e48));

  --card-shadow-hover: var(
      --light,
      -7px 7px 17px #c1c6e5,
      7px -7px 17px #e3e8ff
    )
    var(--dark, 5px -5px 28px #323955, -5px 5px 28px #343b57);
  --card-bg-hover: var(--light, linear-gradient(225deg, #e1e6ff, #bdc2e0))
    var(--dark, linear-gradient(45deg, #373e5c, #2e344d));

  /*     background: linear-gradient(225deg, #e1e6ff, #bdc2e0);
  box-shadow: -7px 7px 17px #c1c6e5, 7px -7px 17px #e3e8ff;

  background: linear-gradient(45deg, #373e5c, #2e344d);
  box-shadow: 5px -5px 28px #323955, -5px 5px 28px #343b57; */

  /* Social */
  --facebook: #198ff5;
  --twitter: #1ca0f2;
  --instagram: linear-gradient(270deg, #fdc468 0%, #df4996 100%);
  --youtube: #c4032a;

  /* LAYOUT */
  --c-bg-body: var(--bg-up);
  --c-bg-hero: var(--bg-down);

  /* HEADER */
  --c-separator: var(--text-secundary);

  /* TOGLE */
  --c-bg-togle: var(--toggle);
  --c-bg-togle-hover: var(--togle-hover);
  --c-icon-togle: var(--bg-up);
  --c-text-toggle: var(--text-togle);

  /* TITLES */
  --c-h1: var(--text-primary);
  --c-h2: var(--text-primary);
  --c-p: var(--text-primary);
  --c-small: var(--text-secundary);

  /* CARD */
  --c-bg-card: var(--card);
  --c-bg-card-hover: var(--card-hover);
  --c-cite-card: var(--text-secundary);
  --c-num-card: var(--text-primary);
  --c-followers-card: var(--text-secundary);
  --c-output-up-card: var(--lime-green);
  --c-output-down-card: var(--bright-red);

  /* SUBCARD */
  --c-bg-like: var(--card);
  --c-bg-like-hover: var(--card-hover);
  --c-title-like: var(--text-secundary);
  --c-num-like: var(--text-primary);
  --c-output-up-like: var(--lime-green);
  --c-output-down-like: var(--bright-red);

  /* ICONOS*/
  --c-facebook: var(--facebook);
  --c-twitter: var(--twitter);
  --c-instagram: var(--instagram);
  --c-youtube: var(--youtube);
}
