@font-face {
  font-family: "Inter Regular", sans-serif;
  src: url(../../resources/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter Bold", sans-serif;
  src: url(../../resources/fonts/Inter-Bold.ttf);
}
