h1 {
  color: var(--c-h1);
  font: normal var(--bold) var(--fs-h1) / var(--line-height) "Inter Bold",
    sans-serif;
  margin: 1rem 0rem;
}

h2 {
  color: var(--c-h2);
  font: normal var(--bold) var(--fs-h2) / var(--line-height) "Inter Bold",
    sans-serif;
  margin: 1rem 0rem;
}

p,
small {
  color: var(--c-p);
  font: normal var(--bold) var(--fs-p) / var(--line-height) "Inter Bold",
    sans-serif;
  letter-spacing: 0.1rem;
}

cite {
  color: var(--c-cite-card);
  font: normal var(--bold) var(--fs-cite) / var(--line-height) "Inter Bold",
    sans-serif;
  letter-spacing: 0.02rem;
  margin-left: 1.5rem;
}

figcaption {
  color: var(--c-cite-card);
  font: normal var(--bold) var(--fs-cite) / var(--line-height) "Inter Bold",
    sans-serif;
}

@media screen and (max-width: 1440px) {
  /*   h1 {
    font-size: calc((var(--fs-h1) * 75) / 100);
  } */
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: calc((var(--fs-h1) * 75) / 100);
  }
  p,
  small {
    font-size: calc((var(--fs-p) * 95) / 100);
  }
}

@media screen and (max-width: 375px) {
}
